body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.card {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid rgb(155, 155, 155);
    background-color: #f9f8f9;
    overflow: hidden;
    perspective: 1000px;/*nechapu co dela ale nejakej typek na stackoverflow rikal ze to pak nebude tweakovat a tedka to fakt netweakuje*/
    transition: transform 0.3s;
}

.card .card-back {
    visibility: hidden;
    background-color: #f9f8f9;
}

.card.flip .card-back {
    visibility: visible;
    backface-visibility: hidden;
    background-color: white;
    animation: scaleUp 0.125s forwards;
    transform-origin: center;
}

.card.flip-back .card-back {
    animation: scaleDown 0.075s forwards;
}

@keyframes scaleUp {
    0% {transform: scale(0.01);}
    40% {transform: scale(0.5);}
    90% {transform: scale(1.4);}
    100% {transform: scale(1);}
}
@keyframes scaleDown {
    0% {transform: scale(1);}
    60% {transform: scale(0.5);}
    100% {transform: scale(0);}
}

/*player stats*/
.stats-display {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    text-align: center;
}
.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 300%;
    margin: 0 auto;
    padding: 0 50px;
}

.player-text,.pairs-display {
    font-size: 20px;
    color: #333;
    margin: 0;
    padding: 80px;
}

.pairs-display {
    text-align: center;
}
